# Virtual environment
.venv/

# Environment
.env
.env~
.envrc

# Python
__pycache__/
*.pyc
*.egg
*.egg-info/
build/

# Test
.pytest_cache/

# IDE
.idea/
.cursor/
.vscode/

# Proprietary code (must not be tracked in FOSS repo)
blueflow/

claude.md
